<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/start-page.css">
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script defer src="/scripts/room.js"></script>
    <title>Cards Against Everything</title>
</head>
<body>
    <div class="wrapper" style="margin-top: 10%">
        <div id="title-box">
            <h1>Карти срещу всичко</h1>
            <button class="menu-button" onclick="window.location.href = '/users/register'">Регистрация</button>
            <button class="menu-button" onclick="window.location.href = '/users/login'">Влизане</button>    
        </div>
    </div>
</body>
</html>