#wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#title-box{
    position: absolute;
    text-align: center;
    margin: -25px 0 0 -25px; 
    width: 15em;
    height: 22em;
}

#title-box h1{
    font-size: 200%;
}


#title-box input:not(.menu-button){
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    margin-top: 10px;
}

#title-box button{
    position: relative;
    margin: auto;
    margin-top: 10px;
}

.menu-button{
    font-size: 120%;
    width: 70%;
    margin-top: 10%;
}

.menu-button:hover{
    font-weight: bold;
    font-size: 140%;
}