#title-box{
    position: absolute;
    text-align: center;
    top: 20%;
    left: 40%;
    margin: -25px 0 0 -25px; 
    width: 15em;
    height: 22em;
}

#title-box h1{
    font-size: 200%;
}

#title-box button{
    position: relative;
    margin: auto;
}

#title-box input{
    border: none;
}

.menu-button{
    font-size: 120%;
    width: 70%;
    margin-top: 10%;
}

.menu-button:hover{
    font-weight: bold;
    font-size: 160%;
}