#text-box{
    background-color: gray;
    bottom: 0%;
    padding: .2%;
    /* position: absolute; */
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#text-box input{
    width: 85%;
}

#text-box button{
    color: white;
    cursor: pointer;
    transition: 0.1s;
    background-color: green;
    border: none;
    width: 4.5em;
}

#text-box button:hover{
    transition: 0.1s;
    background-color: darkgreen;
}

#chat{
    font-size: .8em;
    max-height: 20vh;
    background-color: white;
    overflow: auto;
}

#chat-box{
    position: absolute;
    width: 35%;
    right: 0%;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

#hand{
    bottom: 0%;
    position: absolute;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

.playable:hover {
    transition: 0.1s;
    transform: translateY(-10px);
    cursor: pointer;
}

#board{
    display: flex;
    flex-direction: row;
}

#player-list{
    display: flex;
    justify-content: center;
    margin: 3%;
    width: 70;
}

#start-btn{
    width: 50%;
    height: 30%;
}

.selectable{
    cursor: pointer;
}

.selectable:hover{
    background-color: rgb(207, 207, 207);
    transform: translateY(-5px);
    transition: 0.1s;
}

.decks{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.decks:hover{
    background-color: rgb(205, 205, 205);
}